
<section id="Welcome">
    <div class="container">
        <h2>About this page</h2>
        <p class="lead">The Worlds Best Recipes. Welcome To Real Recipes&trade; where we empower you to make the perfect dishes.</p>
        <p>
            Do you like food as much as i do? If the answer to that question was yes you are in for a treat.
            <br />This website showcases a wonderful selection of top notch recipes from around the world!
            <br />Add your perfect dish recipe and share it with our wonderful food lovers community.
            <br /> Click the link below to get started!
        </p>
    </div>
</section>
<p>
    <a class="btn btn-primary btn-lg" asp-controller="Crud" asp-action="InsertPage" id="homepageButton">
        Introduce Your First Recipe To The World &raquo;
    </a>
</p>
