<DOCTYPE! HTML>
    <html>
    <head>
        <title>Real Recipes</title>
        <link rel="stylesheet" href="~/StyleSheet.css" />
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
    </head>
    <body>
        <div class="jumbotron text-center" id="header" style="margin-bottom:0">
            <h1 asp-action="Index" class="display-2">Real Recipes</h1>
        </div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Crud" asp-action="InsertPage">Add A Recipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="UserPage">User Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="DisplayPage">Recipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="DataPage">Recipe List</a>
                </li>
            </ul>

        </nav>
        <br />
        <div class="row">
            <div class="col-2">
                <img src="~/lib/realRecipe1.png" class="img-fluid" alt="Real Recipes logo">
                <p class="text-muted">Learn how to make your favorite dishes fast!</p>
            </div>
            <div class="col-9">

                @RenderBody()
            </div>
            <div class="col-1"></div>
        </div>
        <div class="jumbotron text-center" id="footer" style="margin-bottom:0">
            <p>&copy; &nbsp; Real Recipes - Michael Asemota - Assignment 1</p>
        </div>

    </body>
</html>
</DOCTYPE!>