@model Comp229_301052117_Assign3.Models.Recipes



<div class="panel-heading text-center"><h2>Recipe </h2></div>
<div class="panel-body">
    <form id="ID" class="p-a-1" asp-controller="Crud" asp-action="Edit" method="post">
        <div asp-validation-summary="All" class="alert-danger"></div>

        @*div for input errors. Validation*@
        @*<input type="hidden" asp-for="RecipesID" />*@

        <div class="form-group">
            <label>Author Name</label>
            <input class="form-control" asp-for="Author" />
        </div>
        <div class="form-group">
            <label>Servings </label>
            <select class="form-control" asp-for="Servings">
                <option value="">Choose an option</option>
                <option value="1 - 5">1 - 5</option>
                <option value="6 - 10">6 - 10</option>
                <option value="11 - 15">11 - 15</option>
                <option value="16 - 20">16 - 20</option>
                <option value="21 - 25">21 - 25</option>
                <option value="26 - 30">26 -30</option>
            </select>
        </div>
        <div class="form-group">
            <label>Dish Name</label>
            <input class="form-control" asp-for="DishName" />
        </div>
        @Html.Partial("Ingredients")
        <div class="form-group">
            <label>Description:</label>
            <textarea rows="3" class="form-control" asp-for="Description"></textarea>
        </div>
        <div class="form-group">
            <label>Instructions:</label>
            <textarea rows="3" class="form-control" asp-for="Instructions"></textarea>
        </div>
        <div class="form-group">
            <label>Category</label>
            <select class="form-control" asp-for="Category">
                <option value="">Choose an option</option>
                <option value="African">African</option>
                <option value="Vietnamese">Vietnamese</option>
                <option value="Italian">Italian</option>
                <option value="Chinese">Chinese</option>
                <option value="Indian">Indian</option>
                <option value="Carribean">Carribean</option>
                <option value="Other">Other</option>
            </select>
        </div>


        <div class="text-center">
            <button class="btn btn-primary" id="submitButton" type="submit" asp-action="InsertPage">
                Add Ingredients
            </button>
            <button class="btn btn-danger" id="cancelButton" asp-controller="Home" asp-action="Index">
                Cancel
            </button>
        </div>
    </form>
</div>
