@model Comp229_301052117_Assign3.Models.Recipes

        
            <div class="form-group">
                <label>Ingredient:</label>
                <div class="input-group">
                    <input type="text" placeholder="Ex. 2Kg" class="form-control" asp-for="ingredients1">
                    <input type="text" placeholder="Ex. Ground Chicken" class="form-control" asp-for="ingredients1">
                </div>
            </div>
        

        <div class="form-group">
            <label>Ingredient:</label>
            <div class="input-group">
                <input type="text" placeholder="Ex. 1Lb" class="form-control" asp-for="ingredients2">
                <input type="text" placeholder="Ex. Rice" class="form-control" asp-for="ingredients2">
            </div>
        </div>

        <div class="form-group">
            <label>Ingredient:</label>
            <div class="input-group">
                <input type="text" placeholder="Ex. 2L" class="form-control" asp-for="ingredients3">
                <input type="text" placeholder="Ex. Water" class="form-control" asp-for="ingredients3">
            </div>
        </div>
